Flask==0.10.1
-e git+https://github.com/IoTMirror/ServicesCommons.git/@0476a398f4fd58c724ea1a2aea66649b7e46b39b#egg=iotmirror_commons
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
oauthlib==1.0.3
psycopg2==2.6.1
requests==2.9.1
requests-oauthlib==0.6.1
six==1.10.0
tweepy==3.5.0
Werkzeug==0.11.5
