Flask==0.10.1
httplib2==0.9.2
-e git+https://github.com/IoTMirror/ServicesCommons.git/@9337355be151e9bfafe779254f999f150ca3f647#egg=iotmirror_commons
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
oauth2client==2.1.0
oauthlib==1.0.3
psycopg2==2.6.1
pyasn1==0.1.9
pyasn1-modules==0.0.8
requests==2.9.1
requests-oauthlib==0.6.1
rsa==3.4.2
six==1.10.0
tweepy==3.5.0
Werkzeug==0.11.9
